beautifulsoup4 == 4.9.3
lxml == 4.9.2
pandas == 1.5.3
requests == 2.32.2
rdflib == 6.1.1
cherche == 2.2.1
networkx == 2.8.5
uvicorn == 0.17.5
fastapi == 0.109.1
pydantic == 1.10.13
python-multipart == 0.0.7
pyyaml_env_tag == 0.1
pyzotero == 1.5.5
scikit-learn == 1.5.0
openai == 1.35.2
orjson == 3.9.15
lenlp == 1.1.0
numpy == 2.0.0
