beautifulsoup4 == 4.9.3
pandas == 1.5.3
requests == 2.32.2
rdflib == 6.1.1
cherche == 2.2.1
networkx == 2.8.5
uvicorn == 0.17.5
fastapi == 0.116.1
pydantic == 2.11.7
python-multipart == 0.0.18
pyyaml_env_tag == 0.1
pyzotero == 1.5.5
scikit-learn == 1.5.0
openai == 1.35.2
orjson == 3.9.15
lenlp == 1.1.0
sentence_transformers == 5.1.2
numpy == 2.0.0
trafilatura == 2.0.0
transformers == 4.56.2
huggingface-hub==0.36.0 
tokenizers==0.22.1 